
@import 'compass/css3';


body {
    margin: 0 auto;
    background-color: #E7E9E3;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.container-form {
    width: 960px;
    margin: 0 auto;
    height: 495px;
}

.container-inside-form {
    width: 960px;
    margin: 0 auto;
    height: 420px;
}
// .containertwo {
//     width: 960px;
//     margin: 0 280px;
// }

// Header

.header {
    background-color: rgb(21,21,21);
    height: 120px;
    width: 1500px;
    position: fixed;
}

.logodiv {
    width: 410px;
    padding-top: 32px;
    display: inline-block;
}


.logo {
     font-size: 26px;
    font-family: 'Bowlby One', cursive;
    color: #814143;
    letter-spacing: 2px;
    text-shadow: .5px 1px 1px #E7E9E3;
}

.tagline {
    font-size: 20px;
    padding-left: 42px;
    letter-spacing: 1px;
    color: rgb(85,89,97);
}

.tabs {
    display: inline-block;
    margin-left: 77px;
}

.reg-tabs {
    color: rgb(85,89,97);

    &.newcolor {
    color: #814143;
    cursor: pointer;
    }
}


ul li {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #814143;
    color: rgb(85,89,97);
    font-size: 14px;
    padding-right: 5px;
    font-size: 14px;
}

//  Banner

.banner {
    padding-top: 120px;
}

.details {
    border-right: 0px;
}

.bannerpic {
    margin-top: 120px;
}


// Reg Form

.field-label {
    font-size: 15px;
}

.reg-form {
    display: none;
    width: 275px;
    height: 400px;
    margin-left: 362px;
}

//Registered Users//
.announce-participants {
    font-size: 32px;
    font-family: open sans;
    font-weight: 600px;
    text-align: center;
    margin-top: 40px;
    color: rgb(102, 54, 54)

}

.registered-users {
    width: 960px;
    height: 2000px;
    position: relative;
    margin: 0 auto;
}

.new-register {
    width: 316px;
    height: 250px;
    font-family: open sans;
    margin-top: 60px;
    display: inline-block;
}

.vehicle-info {
    margin: 0 auto;
    position: relative;
}

.name {
    font-size: 20px;
}

.year, .make, .model {
    display: inline-block;
    font-size: 20px;
}

.car-image {
    width: 280px;
    height: 200px;
    box-shadow: 2px 2px 2px rgb(38, 38, 38);
}

// Footer

.footer {
    background-color: rgb(21,21,21);
    height: 100px;
    width: 100%;
}

.footerinfo {
    color: rgb(85,89,97);
}

.footercontact {
    margin: 95px;
    padding-top: 80px;
    color: rgb(85,89,97);
}

.contactinfo {
    border-right: 0px;
}

